* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    #root {
        height: 100%;
    }
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background: #000;
    align-items: center;
    height: 10vh;
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40%;
    }

    a {
        position: relative;
        text-decoration: none;
        color: white;

        &:hover {
            color: white;
        }

    }

            .selected {
                &::after {
                    content: "";
                    height: 1px;
                    background-color: white;
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    animation: navAnim 0.6s ease-in-out;
                    transform: translateX(-50%);
                    width: 100%;
                }
            }
           
}

textarea {
    resize: none !important;
}

#messageForm {
    width: 95%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    input[type="text"] {
        width: 90%;
        padding: 10px !important;
    }
    input[type="submit"] {
        margin-left: 10px !important;
    }

}

 @media screen and(max-width:580px) {
                nav{
                    ul{

                        width: 100% !important;
                    }
                }
            }

            @keyframes navAnim {
                from{
                    width: 0%;
                }
                100%{
                    width: 100%;
                }
            }