#tchat {
    height: 60vh !important;
    overflow-y: scroll;
    background-color: #5555559f;

    li {
        margin-top: 14px !important;
        word-wrap: break-word;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

@media screen and (max-width:975px) {
    #tchat{
    border-radius: 0 0 10px 10px;
    height: 40vh !important;
    }
}